body {
    --text-main: #313131;
    --text-muted: #565656;
    --text-code: #c60757;
    --text-inverted: #fff;
    --background-body: #fff9f1;
    --background-0: #fffaf0;
    --background-1: #fbf6f0;
    --background-prose: #fffdf9;
    --background-shadow: #dcd8cd;
    --background-target: #1d56ff1c;
    --border-0: #cdc9c1;
    --border-1: #c7c2b7;
    --border-2: #827f78;
    --accent: #3367e1;
    --accent-alt: #861cf0;
    --accent-alt-2: #c60757;
    --gradient-primary: linear-gradient(to bottom, #0af, #006bdf);
    --gradient-warning: linear-gradient(to bottom, #ffa700, #df7503);
    --gradient-danger: linear-gradient(to bottom, #cc082d, #862033);

    --sidebar-width: 18em;
    --sidebar-pad: 0.25em;
    --body-width: 76em;
    --document-padding: 0em 0.45em;
    --media-thumbnail-size: 8em;
    --gallery-item-size: 22em;

    --font-primary: 'Verdana', sans-serif;
    --font-alt: 'Trebuchet MS';

    font-family: var(--font-primary);
    background-color: var(--background-body);
    background-image: url("/static/img/noisy.png");
    background-repeat: repeat;
    margin: 0;
}

@media (width < 76em) {
    body {
        --gallery-item-size: 14em;
    }

    .site-header {
        font-size: 18pt;
        text-align: center;
        margin: 0.5em 0 !important;
    }

    .site-subheader {
        display: none;
    }

    .content-body {
        flex-direction: column;
        min-height: initial !important;
    }

    .page {
        width: unset !important;
    }

    .side-panel {
        width: 100% !important;
        border-left: none !important;
        border-top: 1px solid var(--border-1);
        min-height: 20em;
    }

    .side-panel-inner {
        width: unset !important;
    }
}

.main {
    margin: auto;
    max-width: var(--body-width);
    box-shadow: 2px 5px 7px #0000002e;
}

.centered {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-font {
    font-family: var(--font-alt);
}

.header-container {
    padding-top: 1em;
    background-color: var(--accent-alt-2);
}

.header-container .tab-list {
    margin-bottom: 0;
}

.header-container .tab-list li a {
    color: var(--text-inverted) !important;
    font-size: 11pt;
}

.header-container .tab-list li:not(.tab-current) a {
    opacity: 80%;
}

.header-container .tab-list li.tab-current {
    border-color: var(--text-inverted) !important;
}

.header-titles {
    margin: var(--document-padding);
}

.header-titles h1,
.header-titles p {
    color: var(--text-inverted);
}

.site-header {
    margin-bottom: 0.2em;
    margin-top: 0;
    color: var(--text-main);
}

.site-subheader {
    margin: 0;
    font-style: italic;
    color: var(--text-main);
}

.content {
    background-color: var(--background-0);
}

.content-body {
    display: flex;
    min-height: 45em;
    font-size: 11pt;
    color: var(--text-main);
}

.page {
    width: 100%;
    padding: var(--document-padding);
    word-break: break-word;
    overflow: auto;
}

.page:has(.document-header) {
    padding: 0 !important;
}

.site-footer {
    background: linear-gradient(50deg, var(--background-0) 30%, var(--background-1) 100%);
    border-top: 1px solid var(--border-2);
    padding: 2em 1em;
}

.site-footer p {
    margin-top: 0;
    font-size: 14pt;
}

.site-footer a {
    color: var(--accent) !important;
}

.side-panel {
    background-color: var(--background-1);
    width: var(--sidebar-width);
    border-left: 1px solid var(--border-1);
    flex-shrink: 0;
}

.side-panel-inner {
    padding: 0 var(--sidebar-pad);
    word-break: break-all;
    width: calc(var(--sidebar-width) - (var(--sidebar-pad) * 2));
}

.sidebar-toolbox {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--border-1);
}

.sidebar-toolbox h4 {
    margin-bottom: 0;
}

.toolbox-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sidebar-file-list {
    padding-left: 0px;
    margin: 0.5em 0em;
}

.sidebar-file {
    padding: 0.25em 0;
    overflow: hidden;
    transition: background-color 0.15s;
}

.sidebar-file:hover {
    background-color: var(--background-target);
}

.sidebar-file a {
    color: var(--accent) !important;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 100%;
    display: block;
}

.preview-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0em;
}

.preview-box video {
    max-height: 90vh;
}

.preview-item {
    max-width: 85%;
}

.preview-item img {
    max-width: 100%;
}

.breadcrumbs-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 2.5em;
    padding: var(--document-padding);
    align-items: center;
    border-bottom: 1px solid var(--border-2);
    border-top: 1px solid var(--border-0);
    background: linear-gradient(180deg, var(--background-0) 90%, var(--background-shadow) 100%);
}

.breadcrumb {
    margin: 0.4em;
    text-decoration: none;
    color: var(--accent) !important;
    word-break: break-all;
}

.breadcrumb:not(.breadcrumb-current)::after {
    content: "»";
    margin: 0;
    margin-left: 0.55em;
    pointer-events: none;
    font-size: 1.3em;
    color: var(--text-main);
    font-weight: initial;
    display: inline-block;
    height: 0px;
    vertical-align: top;
}

.breadcrumb-current {
    font-weight: bold;
}

.inline-toolbox {
    display: block ruby;
}

.inline-toolbox>h4 {
    margin: 0.5em 0em;
}

.simple-form {
    margin: 0em 1em;
    margin-bottom: 2em;
}

.simple-form label {
    margin-bottom: 0.35em;
    display: block;
    font-weight: bold;
}

.simple-form .form-group {
    margin: 1em 0em;
    border-bottom: var(--border-1) 1px solid;
    padding-bottom: 1em;
}

.simple-form .form-buttons {
    display: flex;
    justify-content: end;
    align-items: baseline;
}

.form-buttons button {
    margin-left: 1em;
}

.textarea-prose {
    width: 100%;
    box-sizing: border-box;
    height: 35em;
    resize: vertical;
    font-family: unset;
    font-size: inherit;
}

.notice {
    border: 1px solid;
    padding: 0.5em;
    border-left: 0.5em solid;
    border-image: var(--gradient-primary) 1;
    margin-bottom: 1em;
    background-color: var(--background-0);
}

.notice-warning {
    border-image: var(--gradient-warning) 1;
}

.notice-danger {
    border-image: var(--gradient-danger) 1;
}


.choice-list>li {
    margin-bottom: 1em;
}

.choice-list>li::marker {
    content: "» ";
    font-weight: bold;
    font-size: 13pt;
}

.choice-list>li>p {
    margin: 0;
    margin-top: 0.35em;
    font-size: 10pt;
    color: var(--text-muted);
}

.choice-list>li>a {
    font-size: 13pt;
    font-weight: bold;
    font-family: var(--font-alt);
    color: var(--accent);
}

button {
    color: var(--text-main);
    background: linear-gradient(to bottom, var(--background-1), var(--background-shadow));
    border: none;
    padding: 0.4em 0.6em;
    border-radius: 0.15em;
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.19), inset 0 -1px 0px rgba(0, 0, 0, 0.42), 0 1px 2px rgba(0, 0, 0, 0.4);
    font-size: inherit;
    transition: filter 0.06s;
}

button:hover {
    filter: brightness(1.1) contrast(1.2);
}

button:active {
    filter: brightness(0.8) contrast(1.8);
}

.button-primary {
    color: #fff;
    background: var(--gradient-primary);
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.39), inset 0 -1px 0px rgba(0, 0, 0, 0.39), 0 1px 2px rgba(0, 0, 0, 0.4);
    text-shadow: #4f4f4f 0px 1px;
}

.button-warning {
    color: #fff;
    background: var(--gradient-warning);
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.39), inset 0 -1px 0px rgba(0, 0, 0, 0.39), 0 1px 2px rgba(0, 0, 0, 0.4);
    text-shadow: #4f4f4f 0px 1px;
}

.button-danger {
    color: #fff;
    background: var(--gradient-danger);
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.46), inset 0 -1px 0px rgba(0, 0, 0, 0.59), 0 1px 2px rgba(0, 0, 0, 0.4);
    text-shadow: #4f4f4f 0px 1px;
}

.linkbutton {
    color: #fff !important;
    text-decoration: none;
}

.button-compact {
    padding: 0.2em 0.4em;
    font-size: 10pt;
}

.tab-list {
    display: flex;
    padding: 0;
}

.tab-list-track {
    border-bottom: 1px solid var(--border-1);
}

.tab-list-tab {
    display: block;
    padding: 0.4em 0.45em;
}

.tab-current {
    border-bottom: 0.15em solid var(--accent);
}

.tab-list-tab a {
    text-decoration: none;
    color: var(--text-main) !important;
}

.tab-current a {
    color: var(--accent) !important;
}

.document-header {
    padding: var(--document-padding);
    padding-top: 1em;
    background-color: var(--background-1);
    padding-bottom: 1em;
    background: linear-gradient(180deg, var(--background-1) 97%, var(--background-shadow) 100%);
}

.document-header hr {
    display: none;
}

.document-header h2 {
    margin: 0;
}

.document-header .file-info {
    margin: 0;
    font-size: 10pt;
    margin-top: 0.25em;
    color: var(--text-muted);
}

.file-box {
    padding: var(--document-padding);
}

.wraplink {
    height: 100%;
    width: 100%;
    position: absolute;
}

.document-list-item {
    padding-left: 0.5em;
    position: relative;
}

.document-list-item div {
    z-index: 1;
    position: relative;
    pointer-events: none;
}

.document-list-item div *:not(.document-list-item-excerpt) {
    pointer-events: all;
    width: fit-content;
}

.document-list-item::marker {
    content: "📄";
}

.document-list-item:hover .document-list-item-excerpt {
    height: 1.7em;
    padding-bottom: 1em;
}

.document-list-item a:hover {
    text-decoration: underline;
}

.document-list-item-title {
    color: var(--accent) !important;
    text-decoration: none;
}

.document-list-item-filename {
    font-size: 10pt;
    color: var(--text-muted) !important;
    text-decoration: none;
}

.document-list-item-description {
    margin-top: 0.45em;
}

.document-list-item-excerpt {
    font-size: 10pt;
    color: var(--text-muted);
    margin-top: 0.45em;
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 0em;
    transition: padding-bottom 0.15s, height 0.15s;
}

.folder-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.8em;
}

.folder-list-item {
    width: 10em;
    margin-left: 1.8em;
    position: relative;
}

.folder-list-item::marker {
    content: "📁";
}

.folder-list-item *:not(.wraplink) {
    z-index: 1;
    position: relative;
    width: fit-content;
}

.folder-list-item a {
    color: var(--accent) !important;
    text-decoration: none;
}

.folder-list-item-counter {
    font-size: 10pt;
    margin: 0;
    margin-bottom: 1em;
}

.media-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.8em;
}

.media-list-item {
    display: flex;
    width: var(--media-thumbnail-size);
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.media-list-item a:hover {
    text-decoration: underline;
}

.thumb-container {
    display: flex;
    place-items: flex-end;
    height: var(--media-thumbnail-size);
}

.media-list-thumb {
    display: block;
}

.media-list-thumb img {
    max-width: var(--media-thumbnail-size);
    max-height: var(--media-thumbnail-size);
}

.media-list-name {
    font-size: 10pt;
    color: var(--accent) !important;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
    max-height: 3.8em;
    overflow: hidden;
}

.media-list-info {
    font-size: 8pt;
    color: var(--text-muted) !important;
    text-decoration: none;
    margin-top: 0.35em;
}

.markdown {
    padding: var(--document-padding);
}

.markdown a {
    color: var(--accent);
}

.markdown hr {
    margin: 2.5em 1em;
    border: none;
    border-bottom: 1px solid var(--border-2);
}

.markdown img,
.markdown video {
    max-width: 85%;
    height: unset;
}

.markdown *:has(.header-permalink):hover .header-permalink a {
    display: inline;
}

.markdown .footnotes {
    padding-top: 0.5em;
    border-top: 1px solid var(--border-1);
}

.media-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.media-gallery:has(> :last-child:nth-child(1)) .media-gallery-item {
    max-width: 85%;
}

.media-gallery:has(> :last-child:nth-child(1)) .media-gallery-container * {
    max-height: 38em;
}

.media-gallery-item {
    max-width: var(--gallery-item-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.media-gallery-container {
    display: contents;
}

.media-gallery-container * {
    max-height: var(--gallery-item-size);
    max-width: 100%;
}

.media-gallery-caption {
    font-family: var(--font-alt);
    font-size: 10pt;
}

.media-gallery-caption,
.media-gallery-caption * {
    color: var(--text-muted);
}

.footnote:target {
    background-color: var(--background-target);
}

.header-permalink a {
    display: none;
    color: var(--accent) !important;
    margin-left: 0.3em;
    font-size: 12pt;
    font-weight: 100;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
b,
i,
s,
u {
    color: var(--text-main);
}

blockquote {
    border-left: 2px solid var(--border-2);
    padding-left: 0.5em;
    margin: 1em 1.5em;
}

samp {
    border: 1px solid var(--border-0);
    display: block;
    padding: 0.5em;
    background-color: var(--background-1);
    color: var(--text-code);
}

code {
    background-color: var(--background-1);
    padding: 0.1em;
    color: var(--text-code);
}

a {
    color: var(--accent);
}

a:visited {
    color: var(--accent-alt);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrapper {
    display: block;
    overflow-x: auto;
    scrollbar-width: thin;
}

thead {
    background-color: var(--background-1);
    text-wrap: nowrap;
}

tbody>tr:nth-child(1) {
    text-wrap: nowrap;
}

th,
td {
    padding: 0.3em 0.4em;
    border: 1px solid var(--border-1);
}

textarea {
    background-color: var(--background-prose);
    color: var(--text-main);
    border: 1px solid var(--border-2);
    padding: 0.4em;
}

input[type="text"] {
    background-color: var(--background-prose);
    color: var(--text-main);
    padding: 0.25em;
    border: 1px solid var(--border-2);
}