<div id="page" class="page" data-name="{echo @currentFile.name}" data-is-directory="{echo @currentFile.isDirectory}"
    data-path="{echo @currentFile.pathNormalized}" data-size="{echo @currentFile.size}"
    data-created-at="{echo @currentFile.createdAt}" data-modified-at="{echo @currentFile.modifiedAt}"
    data-content-type="{echo @currentFile.mimeType}" data-is-media="{echo fileType.media}"
    data-is-not-previewable="{echo generic}" data-is-printable="{echo fileType.printable}">
    {if fileType.document}
    <div class="document-header">
        <h2 class="alt-font">{put docTitle}</h2>
        <p class="file-info">
            created <span title="{put @currentFile.createdStamp}">{echo @currentFile.createdRelative}</span> ::
            modified <span title="{put @currentFile.modifiedStamp}">{echo @currentFile.modifiedRelative}</span> ::
            <span title="{put @currentFile.size}">{put @currentFile.sizeExtensionString}</span>
        </p>
        <p>{put docDescription}</p>
        <div class="inline-toolbox">
            <h4 class="alt-font">Tools</h4>
            {if fileType.printable}
            <a href="/{put @currentWiki}/edit/{echo @currentDir.pathStripped}?name={echo @currentFile.name}"
                class="button-primary button-compact linkbutton">edit</a>
            {end}
            <a href="/{put @currentWiki}/raw/{echo @currentFile.pathStripped}?dl=1"
                class="button-primary button-compact linkbutton">download</a>
            <a href="/{put @currentWiki}/raw/{echo @currentFile.pathStripped}"
                class="button-primary button-compact linkbutton">raw</a>
            <a href="/{put @currentWiki}/edit/{echo @currentDir.pathStripped}?name={echo @currentFile.name}&action=delete"
                class="button-danger button-compact linkbutton">delete</a>
        </div>
        <hr>
    </div>
    {if fileType.printable}
    <article id="md-document" class="markdown" data-rendered-size="{echo markdown.content.length}"
        data-title="{put markdown.features.title}">
        {echo markdown.content}
    </article>
    {end}
    {if fileType.image}
    <div class="preview-box">
        <a class="preview-item" href="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}">
            <img src="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}">
        </a>
    </div>
    {end}
    {if fileType.video}
    <div class="preview-box">
        <video class="preview-item" src="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}" controls></video>
        <a class="preview-item" href="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}">View raw file</a>
    </div>
    {end}
    {if fileType.audio}
    <div class="preview-box">
        <audio class="preview-item" src="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}" controls></audio>
        <a class="preview-item" href="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}">View raw file</a>
    </div>
    {end}
    {if generic}
    <div class="preview-box">
        <p>
            This file type cannot be previewed.
            <a class="preview-item" href="/{put @currentWiki}/raw/{echo @currentFile.pathNormalized}">Click here</a>
            to view the raw file.
        </p>
    </div>
    {end}
    {end}
    {if fileType.directory}
    <div class="document-header">
        <h2 class="alt-font">{put docTitle}</h2>
        <p class="file-info">{put @currentFile.pathNormalized}</p>
        <p>{put docDescription}</p>
        <div class="inline-toolbox">
            <h4 class="alt-font">Tools</h4>
            {if readmeFile}
            <a href="/{put @currentWiki}/edit/{echo @currentDir.pathStripped}?name={echo readmeFile.name}"
                class="button-primary button-compact linkbutton">edit readme</a>
            {end}
            <a href="/{put @currentWiki}/edit/{echo @currentDir.pathAncestor}?name={echo @currentFile.name}&action=delete"
                class="button-danger button-compact linkbutton">delete</a>
        </div>
        <hr>
    </div>
    <article id="md-document" class="markdown" data-rendered-size="{echo markdown.content.length}"
        data-title="{put markdown.features.title}">
        {echo markdown.content}
    </article>
    <hr>
    <div class="file-box">
        <h2 class="alt-font">Folders</h2>
        {render FolderList dirList}
        <h2 class="alt-font">Documents</h2>
        {render DocumentList docList}
        <h2 class="alt-font">Media</h2>
        {render MediaList mediaList}
    </div>
    {end}
</div>
<div class="side-panel">
    <div class="side-panel-inner">
        <div class="sidebar-toolbox">
            <div class="toolbox-header">
                <h4 class="alt-font">Files</h4>
                <a href="/{put @currentWiki}/edit/{echo @currentDir.pathStripped}"
                    class="button-primary button-compact linkbutton">new</a>
            </div>
            <ul class="sidebar-file-list" data-item-count="{echo fileList.length}">
                {for fileList item}
                <li class="sidebar-file" data-name="{put item.file.name}" data-path="{put item.file.pathNormalized}"
                    data-is-directory="{echo item.file.isDirectory}" data-size="{echo item.file.size}"
                    data-created-at="{echo item.file.createdAt}" data-modified-at="{echo item.file.modifiedAt}"
                    data-content-type="{echo item.file.mimeType}" data-is-media="{echo item.file.isMediaFile}">
                    <a href="/{put @currentWiki}/w/{echo item.file.pathStripped}">
                        <span>{echo item.icon} {put item.file.name}</span>
                    </a>
                </li>
                {end}
            </ul>
        </div>
    </div>
</div>