{if self.list.length}
<ul class="folder-list">
    {for self.list dir}
    <li class="folder-list-item" data-name="{put dir.file.name}" data-path="{put dir.file.pathNormalized}"
        data-size="{echo dir.file.itemCount}" data-created-at="{echo dir.file.createdAt}"
        data-modified-at="{echo dir.file.modifiedAt}">
        <a class="wraplink" href="/{echo self.wiki}/w/{echo dir.file.pathStripped}"></a>
        <a href="/{echo self.wiki}/w/{echo dir.file.pathStripped}">{put dir.file.name}</a>
        <p class="folder-list-item-counter">{echo dir.file.itemCount} items</p>
    </li>
    {end}
</ul>
{else}
<p>No subfolders.</p>
{end}